p{
    font-size: 40px;
}
body{
    background-image: url(background.html);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
}